{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock head_title %}

{% block inner_content %}

<h2 class="mt-3 font-weight-bold text-center allauth-title">{% trans "Set Password" %}</h2>
<hr class="mb-3">

<div class="allauth-custom mb-4">
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}" />
    </form>
</div>
{% endblock %}