{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <div class="custom-shop mb-4">
                <div class="container-fluid px-4 px-lg-5">
                    <div class="text-center">
                        <h3 class="display-5">Your Cart</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block content %}
<div class="container mt-5 mb-2">
    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-bordered">
                    <thead class="bg-light text-black">
                        <tr>
                            <th scope="col" class="text-center">Product</th>
                            <th scope="col" class="d-none d-md-table-cell"></th>
                            <th scope="col" class="text-center">Price</th>
                            <th scope="col" class="text-center">Qty</th>
                            <th scope="col" class="text-center">Subtotal</th>
                            <th scope="col" class="text-center">Actions</th>
                        </tr>
                    </thead>

                    {% for item in cart_items %}
                    <tr>
                        <!-- Product Image -->
                        <td class="p-3 w-25 d-md-table-cell text-center">
                            {% if item.product.image_url %}
                            <img class="img-fluid rounded cart-img" src="{{ item.product.image_url }}"
                                alt="{{ item.product.name }}">
                            {% elif item.product.image %}
                            <img class="img-fluid rounded cart-img" src="{{ item.product.image.url }}"
                                alt="{{ item.product.name }}">
                            {% else %}
                            <img class="img-fluid rounded cart-img" src="{{ MEDIA_URL }}default_image.png"
                                alt="{{ item.product.name }}">
                            {% endif %}
                        </td>


                        <!-- Product Details -->
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                        </td>

                        <!-- Price -->
                        <td class="py-3 text-center">€ {{ item.product.price }}</td>

                        <td class="py-3 text-center">
                            <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ item.product.id }}">
                                <div class="input-group">
                                    <button type="button" class="btn btn-outline-secondary decrement-qty"
                                        data-item-id="{{ item.product.id }}" id="decrement-qty_{{ item.product.id }}">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <input class="form-control text-center qty_input" type="number" name="quantity"
                                        value="{{ item.quantity }}" min="1" max="99"
                                        data-item-id="{{ item.product.id }}" id="id_qty_{{ item.product.id }}">
                                    <button type="button" class="btn btn-outline-secondary increment-qty"
                                        data-item-id="{{ item.product.id }}" id="increment-qty_{{ item.product.id }}">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </form>
                        </td>


                        <!-- Subtotal -->
                        <td class="py-3 text-center">€ {{ item.product.price|calc_subtotal:item.quantity|floatformat:2 }}</td>


                        <!-- Actions -->
                        <td class="py-3 text-center">
                            <a class="btn btn-outline-dark btn-sm update-link">Update</a>
                            <a class="btn btn-danger btn-sm remove-item" id="remove_{{ item.item_id }}">
                                Remove
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4" class="text-right font-weight-bold">Cart Total</td>
                        <td colspan="2" class="text-right">€ {{ total|floatformat:2 }}</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right font-weight-bold">Delivery</td>
                        <td colspan="2" class="text-right">€ {{ delivery|floatformat:2 }}</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right font-weight-bold">Grand Total</td>
                        <td colspan="2" class="text-right">€ {{ grand_total|floatformat:2 }}</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-right">
                            <a href="{% url 'shop' %}" class="btn btn-outline-secondary btn-m mr-2">
                                <i class="fas fa-chevron-left"></i> Continue Shopping
                            </a>
                            <a href="{% url 'checkout' %}" class="btn btn-primary btn-m">
                                <i class="fas fa-lock"></i> Secure Checkout
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <div class="empty-cart-container text-center my-5">
                <p class="text-center empty-cart-message">Your cart is empty.</p>
                <a href="{% url 'shop' %}" class="btn btn-outline-dark back-to-shop-btn">
                    <i class="fas fa-chevron-left"></i> Back to Shop
                </a>
            </div>

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'shop/includes/quantity_input_script.html' %}

<script>
    // Update quantity on click
    $(document).ready(function () {
       
        $('.update-link').on('click', function (e) {
            e.preventDefault();

            // Submit the form associated with the update button
            $(this).closest('tr').find('form').submit();
        });
    });


    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    });
</script>

{% endblock %}