{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Update Password" %}{% endblock %}

{% block page_header %}
<div class="container header-container custom-product">
    <div class="row">
        <div class="col">
            <div class="allauth-title mt-3 mb-4">
                <div class="container-fluid px-4 px-lg-5">
                    <div class="text-center">
                        <h3 class="display-5">Update Password</h3>
                        <hr class="mb-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row allauth-custom mb-5">
        <div class="col-md-8 offset-md-2">
            <div class="mb-3">
                <form class="profile" id="profile_form" method="post" action="{% url 'password_update' %}">
                    {% csrf_token %}
                    <div class="mb-3 mt-3">
                        <label for="id_new_password1" class="form-label">Password</label>
                        {{ form.new_password1 }}
                        <div class="form-text text-muted">
                            {% if form.new_password1.help_text %}{{ form.new_password1.help_text|safe }}{% endif %}
                        </div>
                        {% if form.new_password1.errors %}
                        <div class="text-danger">
                            {{ form.new_password1.errors }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="id_new_password2" class="form-label">Repeat Password</label>
                        {{ form.new_password2 }}
                        <div class="form-text text-muted">
                            {% if form.new_password2.help_text %}{{ form.new_password2.help_text|safe }}{% endif %}
                        </div>
                        {% if form.new_password2.errors %}
                        <div class="text-danger">
                            {{ form.new_password2.errors }}
                        </div>
                        {% endif %}
                    </div>
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                    {% endif %}
                    <button class="btn btn-success allauth-submit-btn" type="submit">
                        {% trans "Update Password" %} &raquo;
                    </button>
                </form>

                <div class="text-center mt-3">
                    <a href="{% url 'profile' %}" class="btn btn-success btn-primary">
                        {% trans "My Profile" %} &raquo;
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}