/* ------ General Styling ------ */

html,
body {
    height: 100%;
    margin: 0;
}

body {
    margin-top: 0px;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    overflow-x: hidden;
}

.alert {
    color: #ffffff;
    font-weight: bold;
    background-color: #000000ec;
    padding: 10px;
    margin-top: 120px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
}

hr {
    color: #bfa616;
    opacity: 1;
    width: 30%;
    margin: 0 auto;
    padding: 2px;
}

/* ------- Error Page Styles ------- */

/* Top Bar Styles */
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000ec;
    color: #fff;
    padding: 15px 0;
    z-index: 10;
    font-size: 16px;
    border-bottom: 1px solid #ffffff33;
    text-align: center;
}

.top-bar-text {
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

header .navbar {
    margin-top: 60px;
}

/* ------search -------- */

.search-bar {
    position: relative;
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}

.search-form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.search__input {
    width: 0;
    transition: width 0.3s ease-in-out;
}

.search__input.collapse.show {
    width: 250px;
}

button#closeSearch {
    display: none;
}

button#closeSearch.collapse.show {
    display: inline-block;
}

#searchButton,
#custom-contact {
    color: #F3F5F5;
}

#searchButton:hover i,
#custom-contact:hover i {
    color: #bfa616;
}

.form-control:focus,
.btn:focus {
    outline: none;
    box-shadow: none;
}


/* ------- nav-bar styles ------- */


#logo img {
    width: 65px;
}

#logo {

    color: #001d5a;
    margin-right: 0;
    font-family: "Emilys Candy", serif;
    font-weight: 1000;
    letter-spacing: 1px;
    font-size: 24px;
    text-transform: uppercase;
}

#logo:hover {

    color: #bfa616;
}

.navbar {
    background-color: #F3F5F5;
}

.toggler-custom {
    border: none;
}

.toggler-custom i {
    font-size: 24px;
    color: #001d5a;
    transition: color 0.3s ease;
}

.toggler-custom:hover i {
    color: #bfa616;
}

.navbar-nav .nav-link {
    color: #001d5a;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #bfa616;
}

.navbar-nav .dropdown-item {
    padding: 5px 10px;
    font-weight: bold;
}

.navbar-nav .dropdown-item:hover {
    color: #bfa616;
    background-color: #F3F5F5;
}

#navbarCollapse {
    text-align: end;
}

a.dropdown-item {
    text-align: center;
    background-color: transparent;
}

.nav-link.active {
    margin-bottom: 4px;
}

#user-options {
    color: #001d5a;
}

#user-options:hover {
    color: #bfa616;
    transition: color 0.3s ease;
}

#user-options:hover {
    color: #bfa616;
}

.user-wishlist i {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: inherit;
    display: inline-block;
}

.user-wishlist {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.user-wishlist div {
    display: inline-block;
}


.navbar-nav .dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    pointer-events: none;
}

.navbar-nav .dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
}

.navbar-nav .dropdown-menu:hover {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
}

.navbar-nav .dropdown {
    position: relative;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #bfa616;
    color: #fff;
}


/* -------- Hero Banner Styling -------- */

/* Carousel Styling */
.slider_section {
    position: relative;
    margin: 0 auto;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 30px;
}

.carousel-inner {
    border-radius: 10px;
    box-shadow: 0px 5px 10px #778899;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.carousel-item img:hover {
    transform: scale(1.2);
}

.carousel-indicators {
    bottom: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
}


/* -------- About Us styling --------- */

.image-section {
    border: 1px solid #423801;
    border-radius: 10%;
    margin: 0 auto;
    background: linear-gradient(to bottom, #fff 0%, #e9db88 80%);
}

.about-text {
    font-size: 16px;
    padding: 4px 4px 0 4px;
    font-weight: bold;
    background-color: #778899be;
    border-radius: 4px;
    color: #000000;
    font-family: 'Kavoon', 'Merriweather', 'Lucida Sans Regular', Verdana, sans-serif;
}

.about-text:hover {
    background-color: #bfa616;
    color: #fff;
}

.image-section img {
    transition: transform 0.3s ease-in-out;
}

.image-section img:hover {
    transform: scale(1.2);
}

.shop-now-button {
    background: #000000ec;
    color: #ffffff;
    min-width: 90px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 12px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background-color: #bfa616;
    color: #000000;
}

/* ------------- shop app styling ----------- */

.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    height: 95%;
    border: 1.5px solid rgba(84, 82, 82, 0.749);
    background-color: transparent;
}

.card:hover {
    transform: scale(1.1);
}

.card-title {
    font-size: 18px;
    color: #001d5a;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

.product-link {
    text-decoration: none !important;
    color: #001d5a;
    font-weight: bold; 
    transition: color 0.3s ease;
}

.product-link:hover {
    color: #bfa616;
}

.custom-price {
    color: #0000ff;
}


.custom-shop {
    background-color: #f5f5dc;
    color: #001d5a;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #778899;
    font-family: "Fondamento", serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 16px;
}

.rating {
    display: inline-flex;
    align-items: center;
    gap: 2px;
}

.rating .fa-star,
.rating .fa-star-half-alt,
.rating .fa-star-o {
    font-size: 0.9rem;
}

/* ------- product detail styling --------- */

.productwrap {
    background: #bfa61629;
    padding: 15px;
    margin: 0 0 30px;
    border-top: solid 1px #e8e9eb;
    text-align: center;
}

.breadcrumbs a,
.breadcrumbs span {
    color: #bfa616;
    font-weight: bold; 
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
}

.breadcrumbs a:hover {
    color: #000000;
    text-decoration: underline;
}

.breadcrumbs span {
    margin: 0 5px;
    font-weight: bold; 
    color: #bfa616;
}

.breadcrumbs span[aria-hidden="true"] {
    color: black;
}

.custom-detail {
    color:red;
}

.related-products {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
}

.related-products h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.related-products .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.related-products .card img {
    height: 180px;
    object-fit: cover;
}

.related-products .btn-outline-primary {
    width: 100%;
    font-size: 0.85rem;
}

/* Back to Top button */



/* --------- store feature styling ------ */

.store-feature {
    background-color: #f8f9fa;
    border-top: 1px solid #e5e5e5;
}

.store-info {
    margin-bottom: 10px;
}

.store-info h5 {
    font-size: 1.25rem;
    color: #001d5a;
    margin-bottom: 5px;
}

.store-info .sub-text {
    font-size: 0.95rem;
    color: #6c757d;
}

.store-info-items {
    margin-bottom: 10px;
    border-left: 1px dotted #bfa616;
}

.store-info i {
    padding: 20px;
    color: #bfa616;
}

.store-info-items i {
    padding: 20px;
    color: #bfa616;
}

.store-info-items h5 {
    font-size: 1.25rem;
    color: #001d5a;
    margin-bottom: 5px;
}

.store-info-items .sub-text {
    font-size: 0.95rem;
    color: #6c757d;
}

/* ------- Newsletter Section Styling -------- */
.newsletter-section {
    background-color: #f9f9f9;
    padding: 30px 0;
    border: 1px dotted #bfa616;
}

.section-header h2 {
    font-size: 1.8rem;
    color: #001d5a;
    font-weight: bold;
}

.section-header h2 span {
    color: #bfa616;
}

.newsletter__input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 4px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
}

.newsletter__submit {
    background-color: #bfa616;
    color: #fff;
    border: none;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.newsletter__submit:hover {
    background-color: #a88c14;
    color: #000000;
}

/* -------- footer ------ */

footer {
    margin-top: auto;
    padding: 10px 0;
}

.footer-container {
    width: 100%;
    background-color: #000000ec;
    color: #fff;
    padding: 10px 0 5px 0;
    z-index: 10;
    font-size: 16px;
    border-bottom: 1px solid #ffffff33;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer .social-links i {
    color: #F3F5F5;
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 10px;
}

.footer .social-links i:hover {
    color: #bfa616;
}

.text-line {
    border: none;
    border-top: 2px solid #bfa616;
    opacity: 1;
}


/* ------- Media Queries --------------- */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    .slider_section {
        margin-top: 40px;
    }
}

@media (max-width: 998px) {

    /* ---- home page styling ----- */

    .slider_section {
        width: 95%;
        padding-top: 10px;
        padding-bottom: 20px;
        margin-top: 160px;
    }

    .carousel-item img {
        object-fit: contain;
    }

    /* ----------shop styling----- */

    .custom-shop {
        margin-top: 165px;
    }

}

@media (min-width: 992px) {

    .header-container {
        padding-top: 164px;
    }

}

/*  ----- product detail styling ------- */
@media (max-width: 991px) {
    #page-content {
        margin-top: 150px;
        width: 100%;
    }
}

@media (max-width: 768px) {

    /* ----top header------ */
    .top-bar {
        padding: 10px;
        font-size: 12px;
    }

    .top-bar-text {
        padding-right: 10px;
    }

    .top-bar .form-inline {
        width: 100%;
        flex-shrink: 1;
        display: flex;
        align-items: center;
    }

    #searchButton {
        padding-left: 4px;
        padding-right: 0;
    }

    .search__input.collapse.show {
        width: 90px;
    }

    /* ------nav bar------- */

    .dropdown-menu {
        max-height: 300px;
        overflow-y: auto;
        position: absolute;
        z-index: 1050;
    }

    .navbar-collapse {
        max-height: calc(100vh - 56px);
        overflow-y: auto;
    }

    .dropdown-menu {
        max-height: 60vh;
    }

    .navbar-collapse {
        max-height: 80vh;
    }

    .custom-nav {
        padding-bottom: 20px;
    }

    /* ------carousel------ */

    .slider_section {
        margin-top: 150px;
    }

    .carousel-item img {
        object-fit: contain;
        max-height: 400px;
    }

    /* product detail stlying */

    .product-details-container {
        text-align: center;
    }

    .related-products .card img {
        height: 150px;
    }

    .related-products .btn-outline-primary {
        font-size: 0.75rem;
    }

}

/* Extra small screens (width <= 576px) */
@media (max-width: 576px) {
    .slider_section {
        margin-top: 150px;
        padding: 10px;
    }

    .carousel-item img {
        object-fit: contain;
        max-height: 300px;
    }
}