/* ------ General Styling ------ */

html,
body {
    height: 100%;
    margin: 0;
}

h1{
    font-size: 15px;
}

.custom-privacy a {
    color: #ffe552 !important;
    text-decoration: none;
    cursor: pointer; 
}

body {
    margin-top: 0px;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    overflow-x: hidden;
}


/* --------- bootstrap toasts ------------ */

.message-container {
    position: fixed;
    top: 135px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.toast.custom-toast .arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    top: -15px;
    right: 36px;
}

.toast-header {
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid #0000004e;
}

.toast-header .close {
    background: none;
    border: none;
    font-size: 1.2rem;
    line-height: 1;
    opacity: 1.0;
}

.toast-header .close:hover {
    opacity: 1;
}

.toast-body {
    padding: 1rem;
    font-size: 0.9rem;
    line-height: 1.5;
    background-color: #bfa616;
    color: #001d5a;
    border-bottom: 1px solid #0000004e;
    margin-left: 10px;
}

.toast-body:hover {
    background-color: #333;
    color: #fff;
}

.custom-p {
    background-color: #F3F5F5;
    font-weight: bold;
    padding: 18px;
    margin-bottom: 2px !important;
    border-bottom: 1px solid #0000004e;
}

.cart-notification-wrapper {
    background-color: #F3F5F5;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: 1px solid #0000004e;
    margin-bottom: 2px !important;
}

.cart-wrapper {
    border-radius: 5px;
    object-fit: cover;
    margin-left: 10px;
}

.cart-notification-wrapper .row {
    align-items: center;
    margin-bottom: 0.5rem;
}

.cart-notification-wrapper p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

/* ---------- Total Section Styling --------------- */
.total-row {
    font-family: Arial, sans-serif;
    background-color: white;
}

.total-row p {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-row p span {
    font-size: 1.1rem;
    font-weight: bold;
    color: #28a745;
}

.total-row .note {
    font-size: 0.9rem;
    color: #666;
    margin-top: 0.5rem;
}


/* --------- Total and Checkout Button ------------ */
.black-button {
    background-color: #bfa616;
    color: #fff;
    border: none;
    padding: 0.75rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: bold;
}

.black-button:hover {
    background-color: #333;
    color: #fff;
}

.black-button .icon {
    font-size: 1.2rem;
}


/* Convenience classes - colors copied from Bootstrap */

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

hr {
    opacity: 1;
    width: 40%;
    margin: 0 auto;
    padding: 2px;
    border: 0 !important;
    border-top: 3px solid #bfa616 !important;
}


/* ------- Error Page Styles ------- */

/* Top Bar Styles */
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000ec;
    color: #fff;
    padding: 15px 0;
    z-index: 10;
    font-size: 16px;
    border-bottom: 1px solid #ffffff33;
    text-align: center;
}

.top-bar-text {
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

header .navbar {
    margin-top: 60px;
}

#custom-msg-number {
    font-size: 6rem;
    color: #dc3545;
    font-weight: bold;
    margin: 0;
}

#custom-msg-number span {
    margin: 0 5px;
    animation: pop 0.6s ease forwards;
}

@keyframes pop {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


/* ------- Contact form ------ */

.custom-heading {
    padding-top: 60px;
    margin-top: 150px;
}

.custom-form {
    margin-top: 10px;
    padding: 25px 0 10px 35px;
    border-radius: 5px;
    max-width: 100%;
    align-items: center;
    background-color: #f3f5f5;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.934);
    
}

.custom-form input,
.custom-form textarea {
    font-weight: bolder;
    width: 93%;
    padding: 10px;
    border: 1px solid #bfa616;
    border-radius: 4px;
    font-size: 18px;
    background-color: #f7f7f8;
}

.custom-form input::placeholder,
.custom-form textarea::placeholder {
    font-size: 19px;
    color: #777;
    text-align: center;
}

#custom-submit {
    font-weight: bold;
    background-color: transparent;
    color: black;
    border: 2px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    align-items: center;
    margin:auto;
}

#custom-submit:hover {
    background-color: #bfa616;
    color: #fff;
}

/* ------search -------- */

.search-bar {
    position: relative;
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}

.search-form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.search__input {
    width: 0;
    transition: width 0.3s ease-in-out;
}

.search__input.collapse.show {
    width: 250px;
}

button#closeSearch {
    display: none;
}

button#closeSearch.collapse.show {
    display: inline-block;
}

#searchButton,
#custom-contact {
    color: #F3F5F5;
}

#searchButton:hover i,
#custom-contact:hover i {
    color: #bfa616;
}

.form-control:focus,
.btn:focus {
    outline: none;
    box-shadow: none;
}


/* ------- nav-bar styles ------- */


#logo img {
    width: 65px;
}

#logo {

    color: #001d5a;
    margin-right: 0;
    font-family: "Emilys Candy", serif;
    font-weight: 1000;
    letter-spacing: 1px;
    font-size: 24px;
    text-transform: uppercase;
}

#logo:hover {

    color: #bfa616;
}

.navbar {
    background-color: #F3F5F5;
}

.toggler-custom {
    border: none;
}

.toggler-custom i {
    font-size: 24px;
    color: #001d5a;
    transition: color 0.3s ease;
}

.toggler-custom:hover i {
    color: #bfa616;
}

.navbar-nav .nav-link {
    color: #001d5a;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #bfa616;
}

.navbar-nav .dropdown-item {
    padding: 5px 10px;
    font-weight: bold;
}

.navbar-nav .dropdown-item:hover {
    color: #bfa616;
    background-color: #F3F5F5;
}

#navbarCollapse {
    text-align: end;
}

a.dropdown-item {
    text-align: center;
    background-color: transparent;
}

.nav-link.active {
    margin-bottom: 4px;
}

#user-options {
    color: #001d5a;
}

#user-options:hover {
    color: #bfa616;
    transition: color 0.3s ease;
}

#user-options:hover {
    color: #bfa616;
}

.user-wishlist i {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: inherit;
    display: inline-block;
}

.user-wishlist {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.user-wishlist div {
    display: inline-block;
}


.navbar-nav .dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    pointer-events: none;
}

.navbar-nav .dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
}

.navbar-nav .dropdown-menu:hover {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
}

.navbar-nav .dropdown {
    position: relative;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #bfa616;
    color: #fff;
}

/* --------Home Page Styling --------- */
/* -------- Hero Banner Styling -------- */

/* Carousel Styling */
.slider_section {
    position: relative;
    margin: 0 auto;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 30px;
}

.carousel-inner {
    border-radius: 10px;
    box-shadow: 0px 5px 10px #778899;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.carousel-item img:hover {
    transform: scale(1.2);
}

.carousel-indicators {
    bottom: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
}


/* -------- About Us styling --------- */

.about-title{
    font-size: 2rem;
    color: #001d5a;
    text-shadow: 1px 2px 4px #bfa616;
    margin-bottom: 20px;
}

.image-section {
    border: 1px solid #423801;
    border-radius: 10%;
    margin: 0 auto;
    background: linear-gradient(to bottom, #fff 0%, #e9db88 80%);
}

.about-text {
    font-size: 16px;
    padding: 4px 4px 0 4px;
    font-weight: bold;
    background-color: #778899be;
    border-radius: 4px;
    color: #000000;
    font-family: 'Kavoon', 'Merriweather', 'Lucida Sans Regular', Verdana, sans-serif;
}

.about-text:hover {
    background-color: #bfa616;
    color: #fff;
}

.image-section img {
    transition: transform 0.3s ease-in-out;
}

.image-section img:hover {
    transform: scale(1.2);
}

.shop-now-button {
    background: #000000ec;
    color: #ffffff;
    min-width: 90px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 12px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background-color: #bfa616;
    color: #000000;
}

/* -------- Testimonial Styling --------- */
.testimonial-title {
    font-size: 2rem;
    color: #001d5a;
    text-shadow: 1px 2px 4px #bfa616;
    text-align: center;
    margin-bottom: 20px;
}

/* Testimonial Form Container */
.testimonial-custom {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

/* Testimonial Form */
.testimonial-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.testimonial-field button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.testimonial-field button:hover {
    background-color: #218838;
}

/* Testimonial Cards */
.testimonial-card {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
}

.testimonial-card:hover {
    transform: translateY(-5px);
}

/* Rating Styling */
.testimonial-card p:nth-child(2) {
    font-weight: bold;
    color: #bfa616;
}

/* Responsive Grid */
@media (max-width: 768px) {
    .testimonial-card {
        margin-bottom: 20px;
    }
}

/* ------------- shop app styling ----------- */

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
    font-weight: bolder;
    font-size: 18px;
    border: 1px solid #000;
}

.btn-file:hover {
  background-color: #bfa616;
  color: #fff;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* sortby dropdown styling */
.sort-select-wrapper select {
    border-radius: 5px;
    border: 2px solid #bfa616;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    background-color: #f8f9fa;
}

.sort-select-wrapper select.border-info {
    border-color: #bfa616;
}

.sort-select-wrapper select.border-black {
    border-color: #000;
}

.sort-select-wrapper select:hover {
    border-color: #000000;
    background-color: #e9ecef;
}

.sort-select-wrapper select:focus {
    outline: none;
    border-color: #bfa616;
    background-color: #ffffff;
}

.sort-select-wrapper select option {
    background-color: #ffffff;
    color: #000000;
}

.sort-select-wrapper select option:checked {
    background-color: #bfa616;
    color: #ffffff;
}

/* --------- Products home styling --------- */
.text-muted.text-center {
    text-align: center;
}

.text-muted.text-md-left {
    text-align: left;
}

.text-muted a {
    color: #bfa616;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.text-muted a:hover {
    color: #0056b3;
    text-decoration: none;
    cursor: pointer;
}

.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    height: 95%;
    border: 1.5px solid rgba(84, 82, 82, 0.749);
    background-color: transparent;
}

.card:hover {
    transform: scale(1.1);
}

.card-title {
    font-size: 18px;
    color: #001d5a;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

.product-link {
    text-decoration: none !important;
    color: #001d5a;
    font-weight: bold;
    transition: color 0.3s ease;
}

.product-link:hover {
    color: #bfa616;
}

.custom-price {
    color: #0000ff;
}


.custom-shop {
    background-color: #f5f5dc;
    color: #001d5a;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #778899;
    font-family: "Fondamento", serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 16px;
}

.rating {
    display: inline-flex;
    align-items: center;
    gap: 2px;
}

.rating .fa-star,
.rating .fa-star-half-alt,
.rating .fa-star-o {
    font-size: 0.9rem;
}


/*---- Back to Top Button Styling --------- */
.btt-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #f8f9fa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.btt-button:hover {
    background-color: #bfa616;
    color: #fff;
}

.btt-button a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.btt-button i {
    font-size: 20px;
}

/* Hide the button initially */
.btt-button.hidden {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
}

/* Show the button */
.btt-button.visible {
    opacity: 1;
    transform: translateY(0);
}

/* --------paginator styling ------ */

.pagination .page-link {
    color: #0000ff;
    font-weight: bold;
    padding: 10px 10px;
    margin: 0 15px;
    border: 2px solid #bfa616;
    transition: all 0.3s ease-in-out;
}

.pagination .page-link:hover {
    background-color: #bfa616;
    color: #fff;
    text-decoration: none;
}


/* ------- product detail styling --------- */

.productwrap {
    background: #bfa61629;
    padding: 15px;
    margin: 0 0 30px;
    border-top: solid 1px #e8e9eb;
    text-align: center;
}

.product-img {
    transition: all 0.3s;
}

.product-img:hover {
    transform: scale(1.05);
}

.breadcrumbs a,
.breadcrumbs span {
    color: #bfa616;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
}

.breadcrumbs a:hover {
    color: #000000;
    text-decoration: underline;
}

.breadcrumbs span {
    margin: 0 5px;
    font-weight: bold;
    color: #bfa616;
}

.breadcrumbs span[aria-hidden="true"] {
    color: black;
}

.custom-detail {
    color: red;
}

/*----------- Custom styles for the quantity input group --------*/

.custom-quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 150px;
}

.qty_input {
    width: 60px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.quantity-btn {
    width: 40px;
    height: 40px;
    background-color: #f8f9fa;
    color: #333;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.quantity-btn:hover {
    background-color: #bfa616;
    color: #fff;
}

.border-quantity {
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.quantity-btn .icon i {
    font-size: 16px;

}

/* -----footer related products ---- */
.related-products {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
}

.related-products h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.related-products .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.related-products .card img {
    height: 180px;
    object-fit: cover;
}

.related-products .btn-outline-primary {
    width: 100%;
    font-size: 0.85rem;
}

/* --------- cart template styling ------ */

.empty-cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.empty-cart-message {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 1rem;
}

.back-to-shop-btn {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border-radius: 50px;
    border: 2px solid #343a40;
    color: #343a40;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.back-to-shop-btn:hover {
    background-color: #343a40;
    color: #fff;
    text-decoration: none;
}


.table-responsive {
    overflow-x: auto;
}

.table {
    margin-bottom: 0;
}

.table th,
.table td {
    vertical-align: middle;
    text-align: center;
    padding: 1rem;
}

.table img {
    max-width: 100px;
    height: auto;
    object-fit: cover;
}

/* ------------- My Profile Styling --------- */

.order-history {
    max-height: 416px;
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

/* ------- FAQs styling ---------- */

.faq-custom {
    background-color: #f3f5f5;
    color: #000;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.934);
    max-width: 100%;
}

.card-faq {
    margin-bottom: 0 !important;
}

.btn-q-custom {
    text-decoration: none !important;
    cursor: pointer;
    color: #006400;
    font-size: 18px;
}

.btn-a-custom {
    color: #a88c14;
    font-weight: bold;
    font-size: 18px;
}

/* ----------- Allauth form formatting ----------- */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    
    border-radius: 7px;
    border: 3px solid #bfa616;
    max-width: 95%;
    padding: 3px;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.allauth-reminder {
    text-align: center;
    font-size: 20px;
    color: #555;
}

.allauth-form-inner-content a {
    color: rgb(255, 81, 0);
    text-decoration: none;
}

.allauth-form-inner-content a:hover {
    color: #001d5a;
}

/* --------- login styling ------ */

.allauth-title {
    font-size: 2rem;
    color: #001d5a;
    text-shadow: 1px 2px 4px #bfa616;
    margin-bottom: 20px;
}

.allauth-custom {
    color: #000;
    font-weight: bolder;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bolder;
    background-color: #f3f5f5;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.934);
    max-width: 100%;
    font-size: 20px;
    font-family: "Fondamento", serif;
}

.form-check {
    padding-right: 10px;
}

.allauth-submit-btn {
    background-color: transparent;
    color: #000;
    font-weight: bold;
    font-size: 19px;
    padding: 10px 15px;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
  }
  
  .allauth-submit-btn:hover {
    background-color: #bfa616;
    color: #fff;
  }

/* Forgot Password */
#forgot-password-link {
    text-align: center;
    margin-top: 15px;
}

#forgot-password-link a {
    font-size: 18px;
    color: #ff4500;
    text-decoration: underline;
}

#forgot-password-link a:hover {
    color: #001d5a;
}

.btn-success {
    display: block;
    font-weight: bold;
    background-color: transparent;
    color: black;
    border: 2px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    width: 200px;
    margin: auto;
}

.btn-success:hover {
    background-color: #bfa616;
    color: #fff;
}

/* --------- sign up styling ------ */

#signup_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px 20px 0 10px;
    padding: 10px 30px;
    border-radius: 5px;
}


/*--------- Checkout Styling ---------------- */
.btn-primary.btn-m {
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 1.25rem;
    transition: all 0.3s;
}

.btn-primary.btn-m:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btn-outline-secondary {
    font-size: 1rem;
    border: 1px solid #333;
    color: #000;
    transition: all 0.3s;
}

.btn-outline-secondary:hover {
    background-color: #bfa616;
    color: #fff;
    transform: scale(1.05);
}

.update-link {
    margin-bottom: 3px;
}

.form-check-label a {
    color: #bfa616;
    text-decoration: none;
    cursor: pointer;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #cdc7a5c5;
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* -------------checkout success styling ---------- */
.custom-grey-box {
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* --------- store feature styling ------ */

.store-feature {
    background-color: #f8f9fa;
    border-top: 1px solid #e5e5e5;
}

.store-info {
    margin-bottom: 10px;
}

.store-info h5 {
    font-size: 1.25rem;
    color: #001d5a;
    margin-bottom: 5px;
}

.store-info .sub-text {
    font-size: 0.95rem;
    color: #6c757d;
}

.store-info-items {
    margin-bottom: 10px;
    border-left: 1px dotted #bfa616;
}

.store-info i {
    padding: 20px;
    color: #bfa616;
}

.store-info-items i {
    padding: 20px;
    color: #bfa616;
}

.store-info-items h5 {
    font-size: 1.25rem;
    color: #001d5a;
    margin-bottom: 5px;
}

.store-info-items .sub-text {
    font-size: 0.95rem;
    color: #6c757d;
}

/* ------- Newsletter Section Styling -------- */
/* -------- Mailchimp --------- */
.newsletter-section {
    background-color: #f9f9f9;
    padding: 40px 0;
    border: 1px dotted #bfa616;
    text-align: center;
}

.section-header h2 {
    font-size: 2rem;
    color: #001d5a;
    font-weight: bold;
    margin-bottom: 15px;
}

.section-header h2 span {
    color: #bfa616;
}

.newsletter__input {
    padding: 12px 75px !important;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.newsletter__input:focus {
    border-color: #bfa616;
    outline: none;
}

.newsletter__submit {
    background-color: #bfa616 !important;
    color: #fff !important;
    border: none;
    padding: 12px;
    font-size: 1.2rem !important;
    border-radius: 5px !important;
    display: block !important;
    margin: 0 auto !important;
    transition: background-color 0.3s ease, transform 0.2s;
}

.newsletter__submit:hover {
    background-color: #a88c14;
    color: #fff;
    transform: scale(1.05);
}

#mce-responses {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px  !important;
    margin: 2px 0 !important;
    color: #dc3545;
}

#mce-error-response,
#mce-success-response {
    width: 100%;
    max-width: 500px !important;
    display: block;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
}


/* -------- footer ------ */

footer {
    margin-top: auto;
    padding: 10px 0;
}

.footer-container {
    width: 100%;
    background-color: #000000ec;
    color: #fff;
    padding: 10px 0 5px 0;
    z-index: 10;
    font-size: 16px;
    border-bottom: 1px solid #ffffff33;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer .social-links i {
    color: #F3F5F5;
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 10px;
}

.footer .social-links i:hover {
    color: #bfa616;
}

/* ------- Media Queries --------------- */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    .slider_section {
        margin-top: 40px;
    }

}

@media (max-width: 998px) {

    /* ---- home page styling ----- */

    .slider_section {
        width: 95%;
        padding-top: 10px;
        padding-bottom: 20px;
        margin-top: 160px;
    }

    .carousel-item img {
        object-fit: contain;
    }

    /* ----------shop styling----- */

    .custom-shop {
        margin-top: 165px;
    }
}

@media (min-width: 992px) {

    .header-container {
        padding-top: 164px;
    }

}

@media (max-width: 991px) {
    #page-content {
        margin-top: 150px;
        width: 100%;
    }

    .allauth-form-inner-content {
        margin-top: 150px;
    }
    /* password change/update password */
    .custom-product {
        margin-top: 160px;
    }

    /* contact styling */
    .custom-header {
        margin-top: 180px;
    }
    

}

@media (max-width: 768px) {

    .text-order {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px !important;
        font-size: 1rem;
        word-break: break-word;
    }

    .custom-shop h3 {
        font-size: 1.5rem;
    }

    .alert {
        margin-bottom: 20px;
     }

    /* ----top header------ */
    .top-bar {
        padding: 10px;
        font-size: 12px;
    }

    .top-bar-text {
        padding-right: 10px;
    }

    .top-bar .form-inline {
        width: 100%;
        flex-shrink: 1;
        display: flex;
        align-items: center;
    }

    #searchButton {
        padding-left: 4px;
        padding-right: 0;
    }

    .search__input.collapse.show {
        width: 90px;
    }

    /* ------nav bar------- */

    .dropdown-menu {
        max-height: 300px;
        overflow-y: auto;
        position: absolute;
        z-index: 1050;
    }

    .navbar-collapse {
        max-height: calc(100vh - 56px);
        overflow-y: auto;
    }

    .dropdown-menu {
        max-height: 60vh;
    }

    .navbar-collapse {
        max-height: 80vh;
    }

    .custom-nav {
        padding-bottom: 20px;
    }

    /* ------carousel------ */

    .slider_section {
        margin-top: 150px;
    }

    .carousel-item img {
        object-fit: contain;
        max-height: 400px;
    }

    /* -------- product detail stlying ---------- */

    .custom-quantity {
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
    }

    .product-details-container {
        text-align: center;
    }

    .related-products .card img {
        height: 150px;
    }

    .related-products .btn-outline-primary {
        font-size: 0.75rem;
    }

    /* ---- cart styling ---- */

    .table thead {
        display: none;
    }

    .table tr {
        display: block;
        margin-bottom: 1rem;
    }

    .table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        font-size: 14px;
    }

    .table td:first-child {
        border-top: 0;
    }

    .table td::before {
        width: 100%;
        margin-bottom: 0.25rem;
    }

    .table img {
        max-width: 80px;
        margin-bottom: 0.5rem;
    }

    .cart-img {
        padding-right: 30px;
        max-width: 80px;
    }

    /* ---------- profile styling ------- */

    .container {
        padding: 15px;
    }

    .profile-button {
        width: 100%;
    }

    img.rounded-circle {
        width: 100px;
        height: 100px;
    }

}

/* Extra small screens (width <= 576px) */
@media (max-width: 576px) {
    .slider_section {
        margin-top: 150px;
        padding: 10px;
    }

    .carousel-item img {
        object-fit: contain;
        max-height: 300px;
    }
}