{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- 500 Error Handling Page -->
<div class="wrap-error custom-error-msg"
    style="min-height: 100vh; display: flex; align-items: center; justify-content: center; text-align: center;">
    <div>
        <h1 id="custom-msg-number">
            <span>5</span>
            <span>0</span>
            <span>0</span>
        </h1>
        <h2 style="font-size: 2rem; margin-top: 1rem;">Internal Server Error</h2>
        <p style="font-size: 1.2rem; color: #666;">We encountered a problem on our end. Please try again later.</p>
        <a href="{% url 'home' %}" class="btn btn-primary mt-3">Please, Return to Home</a>
    </div>

</div>
{% endblock %}