{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>

    {% block meta %}
    <!-- required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Discover Mindspark – your destination for Montessori-inspired tech tools that spark creativity and hands-on learning.">
    <meta name="keywords"
        content="tech gadgets, lifestyle accessories, e-commerce, essential, Innovative Learning Tools, young minds, products, hands-on learning, educational, toys, teaching tools, STEM for kids, Montessori-inspired products, experiential learning tools, child development, early education, Montessori e-commerce, Montessori technology, interactive learning tools, cognitive development toys, educational technology for children, Fostering Creativity, hands-on STEM learning, Montessori home learning, kids tech gadgets, Cutting-Edge Tech Essentials, Montessori classroom essentials, learning through play, Young Minds, Montessori STEM kits.">
    <title>{% block title %} Mindspark {% endblock %}</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    {% endblock %}

    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preload" href="https://fonts.gstatic.com" as="font" type="font/woff2" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" crossorigin="anonymous">

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% endblock %}

    {% block extra_css %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- External CSS-->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    {% endblock %}


    {% block corejs %}

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" crossorigin="anonymous" async></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous" async></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous" async></script>
    
    <!-- Stripe JS -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

</head>

<body>
    <div class="top-bar d-flex justify-content-between align-items-center px-3">
        <!-- Contact Icon -->
        <a class="nav-link {% if request.path == contact_url %}active{% endif %}" href="{% url 'contacts:contacts' %}">
            <div class="text-left" id="custom-contact">
                <div><i class="fa-solid fa-envelope-open fa-lg"></i></div>
            </div>
        </a>
        <!-- Shipping Information -->

        <div class="text-left">
            <h1 class="mb-0 top-bar-text">Worldwide Shipping</h1>
        </div>
        <!-- Search Form -->
        <div class="d-flex align-items-center">
            <form class="form-inline align-items-center search-form" action="{% url 'shop' %}" method="get">
                <input class="form-control search__input collapse nav-link" id="searchInput" type="search" name="q"
                    placeholder="Search our products..." aria-label="Search" autocomplete="off">
                <button class="btn" type="submit" id="searchButton">
                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                </button>
                <button class="btn btn-outline-danger collapse ml-2" type="button" id="closeSearch">

                    <i class="fa fa-times fa-lg"></i>

                </button>
            </form>
        </div>
    </div>
    <!--End Top Header-->

    <header class="container-fluid fixed-top">
        <nav class="d-flex flex-column h-100">
            <div class="container">
                <!-- NAVBAR -->
                <nav class="navbar navbar-expand-md fixed-top">
                    <!-- Logo -->
                    <a class="navbar-brand" id="logo" href="{% url 'home' %}" style="margin-bottom: 5px;">
                        <img src="{% static 'images/logo.webp' %}" alt="Mindspark Logo" width="150" height="50"> Mindspark
                    </a>                    

                    <!-- Toggler for mobile view -->
                    <button class="navbar-toggler toggler-custom" type="button" data-toggle="collapse"
                        data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>

                    <!-- Navbar Content -->
                    <div class="collapse navbar-collapse" id="navbarContent">
                        <!-- Centered Navigation Links -->
                        <ul class="navbar-nav mx-auto mb-2 mb-md-0 align-items-center">
                        </ul>

                        <!-- Right-Side Navigation (Account, Wishlist, Cart) -->
                        <ul class="navbar-nav ml-auto align-items-center custom-nav">
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == home_url %}active{% endif %}"
                                    aria-current="page" href="{% url 'home' %}">
                                    <div class="text-center"><i class="fa-solid fa-house fa-lg"></i>
                                        <p class="my-0">Home</p>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if '/blog/' in request.path %}active{% endif %}"
                                    href="{% url 'article_list' %}">
                                    <div class="text-center">
                                        <i class="fa-solid fa-newspaper fa-lg"></i>
                                        <p class="my-0">Blog</p>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="{% url 'shop' %}" id="shopDropdown" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <div class="text-center">
                                        <i class="fa-solid fa-store fa-lg"></i>
                                        <p class="my-0">Shop <i class="fa-solid fa-caret-down"></i></p>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right border-0" aria-labelledby="shopDropdown">
                                    <!-- All Products -->
                                    <a class="dropdown-item" href="{% url 'shop' %}">All Products</a>

                                    <!-- Categories Section -->
                                    <div class="dropdown-divider"></div>
                                    <h6 class="dropdown-header">Montessori Categories</h6>
                                    {% for category in all_categories %}
                                    <a class="dropdown-item {% if category.name in current_categories %}active{% endif %}"
                                        href="{% url 'shop' %}?category={{ category.name }}">
                                        {{ category.friendly_name }}
                                    </a>
                                    {% endfor %}
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link" href="{% url 'profile' %}" id="user-options" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <div class="text-center">
                                        <i class="fas fa-user fa-lg"></i>
                                        <p class="my-0">Account <i class="fa-solid fa-caret-down"></i></p>
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right border-0" aria-labelledby="user-options">
                                    {% if request.user.is_authenticated %}
                                        {% if request.user.is_superuser %}
                                            <li><a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a></li>
                                        {% endif %}
                                        <li><a href="{% url 'profile' %}" class="dropdown-item">My Profile</a></li>
                                        <li><a href="{% url 'password_update' %}" class="dropdown-item">Update Password</a></li>
                                        <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                                        <li class="dropdown-divider"></li> <!-- Bootstrap alternative to <hr> -->
                                        <li><a href="{% url 'delete_account' %}" class="dropdown-item">Delete Account</a></li>
                                    {% else %}
                                        <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                                        <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
                                    {% endif %}
                                    <li class="dropdown-divider"></li>
                                    <li><a href="{% url 'faq' %}" class="dropdown-item">FAQs</a></li>
                                </ul>
                            </li>
                            <li class="list-inline-item">
                                {% if request.user.is_authenticated %}
                                <a class="nav-link user-wishlist font-weight-bold" href="{% url 'wishlist' %}"
                                    title="Wishlist">
                                    <div class="text-center">
                                        <div><i class="fa-solid fa-heart fa-lg"></i></div>
                                        <p class="my-0">Wishlist</p>
                                    </div>
                                </a>
                                {% else %}
                                <a class="nav-link user-wishlist font-weight-bold" href="/accounts/login/"
                                    title="Wishlist">
                                    <div class="text-center">
                                        <div><i class="fa-solid fa-heart fa-lg"></i></div>
                                        <p class="my-0">Wishlist</p>
                                    </div>
                                </a>
                                {% endif %}
                            </li>
                            <li class="list-inline-item">
                                <a class="{% if grand_total %}text-info font-weight-bold{% else %}{% endif %} nav-link"
                                    href="{% url 'cart_summary' %}">
                                    <div class="text-center">
                                        <div><i class="fa-solid fa-cart-shopping fa-lg"></i></div>
                                        <p class="my-0">
                                            {% if grand_total %}
                                            € {{ grand_total|floatformat:2 }}
                                            {% else %}
                                            € 0.00
                                            {% endif %}
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </nav>
    </header>

    <!-- displaying messages -->
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}

        {% endfor %}
    </div>
    {% endif %}


    {% block page_header %}
    {% endblock %}

    <main class="flex-shrink-0 main-bg content">

        {% block content %}
        <!-- Placeholder for page-specific content -->
        {% endblock content %}

    </main>
    <!-- Store Feature -->
    <div class="store-feature section py-4">
        <div class="container">
            <div class="row justify-content-center text-center d-flex flex-wrap">
                <div class="col-12 col-sm-6 col-md-3 d-flex flex-column align-items-center store-info">
                    <i class="fa-solid fa-truck-fast fa-xl"></i>
                    <h5>Free Shipping</h5>
                    <span class="sub-text">Free shipping on orders over €{{ free_delivery_threshold }}
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-md-3 d-flex flex-column align-items-center store-info-items">
                    <i class="fa-regular fa-comments fa-xl"></i>
                    <h5>Online Support</h5>
                    <span class="sub-text">We support online 24/7 on day</span>
                </div>
                <div class="col-12 col-sm-6 col-md-3 d-flex flex-column align-items-center store-info-items">
                    <i class="fa-regular fa-credit-card fa-xl"></i>
                    <h5>Secure Payments</h5>
                    <span class="sub-text">All payments are secured and trusted</span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Store Feature -->

    <!-- Newsletter Section -->
    <div id="mc_embed_shell">
        <div class="newsletter-section py-5">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-7">
                        <div class="footer-newsletter">
                            <div class="section-header text-center mb-4">
                                <h2><span>Sign up for </span>Newsletter</h2>
                            </div>
                            <div>
                                <form
                                    action="https://herokuapp.us15.list-manage.com/subscribe/post?u=0168fe0eb0624172457a2e511&amp;id=f21a6d078e&amp;f_id=00598be0f0"
                                    method="post" class="newsletter-form validate" id="mc-embedded-subscribe-form"
                                    name="mc-embedded-subscribe-form" target="_blank">
                                    <div id="mc_embed_signup_scroll">
                                        <div class="mc-field-group">
                                            <input type="email" class="form-control newsletter__input" name="EMAIL"
                                                value="" placeholder="Email address" required="">
                                        </div>
                                        <div id="mce-responses" class="clear foot">
                                            <div class="response" id="mce-error-response"></div>
                                            <div class="response" id="mce-success-response"></div>
                                        </div>
                                        <!-- Hidden field to prevent bot signups -->
                                        <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                            <input type="text" name="b_0168fe0eb0624172457a2e511_f21a6d078e"
                                                tabindex="-1" value="">
                                        </div>
                                        <button type="submit" class="button newsletter__submit">Subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer-container">
        <footer class="footer">
            <div class="mt-2">
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/soundarya-kantimahanti/" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/klsoundarya" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://shorturl.at/M6tkw" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://shorturl.at/uK3Dj" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://x.com/soundarya2408" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>

            <!-- Copyright Section -->
            <div class="text-center mb-2">
                <hr class="mb-2">
                <h6>&copy; 2025 Created by Soundarya | Mindspark. All rights reserved. </h6>
                <div class="custom-privacy">
                    <a href="https://www.termsfeed.com/live/0d3fb03c-46ab-40da-9692-602170c9bf9f"
                        target="_blank">Privacy
                        Policy</a>
                </div>
            </div>
        </footer>
    </div>


    {% block extras %}
    {% endblock %}


    {% block postloadjs %}

    <script>
        $('.toast').toast('show');

        // Automatically hide the toast after 7 seconds
        setTimeout(function () {
            $('.toast').toast('hide');
        }, 7000);
    </script>

    <script src="{% static 'js/script.js' %}"></script>

    <!-- Font Awesome Kit -->
    <script src="https://kit.fontawesome.com/a2c377bf15.js" crossorigin="anonymous"></script>
    <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; fnames[6] = 'COMPANY'; ftypes[6] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
    {% endblock %}


</body>

</html>