{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container custom-product">
    <div class="row">
        <div class="col">
            <div class="allauth-title mt-3 mb-4">
                <div class="container-fluid px-4 px-lg-5">
                    <div class="text-center">
                        <h3 class="display-5">Articles</h3>
                        <hr class="mb-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<h2>Blog Articles</h2>

{% if request.user.is_superuser %}
    <a href="{% url 'article_create' %}" class="btn btn-primary">Create New Article</a>
{% endif %}

<ul>
    {% for article in articles %}
    <li>
        {% if article.image %}
            <img src="{{ article.image.url }}" alt="{{ article.title }}" width="400">
        {% endif %}
        
        <a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a>

        {% if request.user.is_superuser and not article.published %}
            <span style="color: red; font-weight: bold;">(DRAFT)</span>
        {% endif %}
    </li>
    {% empty %}
    <p>No articles available.</p>
    {% endfor %}
</ul>
{% endblock %}