{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container custom-product">
    <div class="row">
        <div class="col">
            <div class="allauth-title mt-3 mb-4">
                <div class="container-fluid px-4 px-lg-5">
                    <div class="text-center">
                        <h3 class="display-5">{{ article.title }}</h3>
                        <hr class="mb-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<h2>{{ article.title }}</h2>
<p>{{ article.content }}</p>

{% if article.image %}
    <img src="{{ article.image.url }}" alt="{{ article.title }}" width="400">
{% else %}
    <p>No image available</p>
{% endif %}

{% if request.user.is_superuser %}
    {% if not article.published %}
        <form method="post" action="{% url 'publish_article' article.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Publish Article</button>
        </form>
    {% endif %}
    <!-- Delete button -->
    <form method="post" action="{% url 'delete_article' article.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Article</button>
    </form>
{% endif %}

<a href="{% url 'article_list' %}">Back to Blog</a>
{% endblock %}