{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container custom-product">
    <div class="row">
        <div class="col">
            <div class="allauth-title mt-3 mb-4">
                <div class="container-fluid px-4 px-lg-5">
                    <div class="text-center">
                        <h3 class="display-5">Create a New Article</h3>
                        <hr class="mb-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container mt-4 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="shadow-sm p-4 border-0">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <label for="external_link">External Resource (Optional):</label>
                    <input type="url" name="external_link" class="form-control" placeholder="https://example.com">
                    <div class="d-flex justify-content-between mt-3">
                        <a href="{% url 'article_list' %}" class="btn btn-outline-secondary">Cancel</a>
                        <button type="submit" class="btn btn-outline-secondary px-4">Publish Article</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}