{% extends "base.html" %}
{% load static %}

<!-- Allows admin to add the products. -->
{% block page_header %}

<div class="container header-container custom-product">
    <div class="row">
        <div class="col">
            <div class="allauth-title mb-4">
                <div class="container-fluid px-4 px-lg-5">
                    <div class="text-center">
                        <h3 class="display-5">Product Management</h3>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-4 justify-content-center">
        <div class="col-12 text-center">
            <h5 class="text-muted">Add a Product</h5>
        </div>
    </div>

    <div class="row allauth-custom mb-5 mt-2">
        <div class="col-md-8 offset-md-2">
            <form method="POST" action="{% url 'add_product' %}" class="form mt-3" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% endif %}
                {% endfor %}

                <div class="form-group">
                    <label for="new-image"></label>
                    <input id="new-image" type="file" name="image" accept="image/*" class="border-black rounded-0">
                </div>

                <div class="d-flex mt-2 justify-content-center">
                    <a class="btn btn-danger rounded-0 px-4 py-2" style="margin-right: 5px;"
                        href="{% url 'shop' %}">Cancel</a>
                    <button class="btn btn-primary rounded-0 px-4 py-2" type="submit">Add Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}