{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <div class="custom-shop mb-4">
                <div class="container-fluid px-4 px-lg-5">
                    <div class="text-center">
                        <h3 class="display-5">All Essentials</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="row mt-5">
    <div class="product-container col-10 offset-1">
        <div class="row mt-1 mb-2"></div>
        <div class="row">
            {% for product in products %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card h-100 border-0">
                    <div class="d-flex justify-content-center align-items-center">
                        {% if product.image_url %}
                        <img class="card-img-top img-fluid" src="{{ product.image_url }}" alt="{{ product.name }}"
                            style="width: 200px; height: 200px; object-fit: cover;">
                        {% elif product.image %}
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}"
                            style="width: 200px; height: 200px; object-fit: cover;">
                        {% else %}
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}default_image.png"
                            alt="{{ product.name }}" style="width: 200px; height: 200px; object-fit: cover;">
                        {% endif %}

                    </div>
                    <div class="card-body pb-0">
                        <p class="mb-0 text-center">{{ product.name }}</p>
                    </div>
                    <div class="card-footer bg-white pt-0 border-0 text-center">
                        <div class="row">
                            <div class="col">
                                <p class="lead mb-0 text-center font-weight-bold">€{{ product.price }}</p>
                                {% if product.display_rating %}
                                <div class="rating">
                                    {% for i in "12345" %}
                                    {% if product.display_rating >= forloop.counter %}
                                    <i class="fas fa-star text-warning"></i>
                                    {% elif product.display_rating > forloop.counter0 %}
                                    <i class="fas fa-star-half-alt text-warning"></i>
                                    {% else %}
                                    <i class="far fa-star text-warning"></i>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% else %}
                                <small class="text-muted">No Rating</small>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6">
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <button class="btn btn-block" type="submit">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="col-6">
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <button class="btn btn-block" type="submit">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if forloop.counter|divisibleby:1 %}
            <div class="col-12 d-sm-none mb-5">
                <hr>
            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:2 %}
            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                <hr>
            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:3 %}
            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                <hr>
            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:4 %}
            <div class="col-12 d-none d-xl-block mb-5">
                <hr>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="btt-button shadow-sm" id="bttBtn">
    <a class="btt-link d-flex h-100" title="Back to Top">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>

{% endblock %}